In [178]:
import pandas as pd

In [179]:
data = pd.read_csv('train.csv',chunksize=500000)

User ID field is completely unique and not worth anything since it is unique 
I should use the hour for 7pm to 10 pm 
I should run test on the random fields and without the random fields see which one is better
site_id is not the same as site_domain 
app_id is not the same as app_domain



All the data is complete but the amount of clicks should be downsampled so that clicks are half of the training data 

RUN a random forest, svm, adaboost, xboost gradient, and nearest neighbors and do an ensemble classification over all of the different algorithms

In [180]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [181]:
cols = ['click','hour','banner_pos','device_type','device_conn_type','site_id','site_domain','site_category','app_id','app_domain','app_category','device_id','device_ip','device_model']

Since I can not do one hot encoding or get dummies I must add a value representation to the categorical data
I will try to make the value the percentage of the times the ad gets clicked on.

load the hours from 2000 - 2200 
then load all of the 2000 
then randomly get 15000 samples from the 2000
then randomly get 1500 from 2000
convert the samples to probabilities tables

In [182]:
data1 = data.get_chunk(3500000)

In [183]:
sample = data.get_chunk(500000)

7pm cut off   3639326
8pm cut off  3759101
9 pm cutoff  3871118
10pm cut off lower bound - 3960619

In [184]:
sample.loc[3639326]['hour']#7pm

14102119

In [185]:
sample.loc[3759101]['hour']#8pm

14102120

In [186]:
sample.loc[3871118]['hour']#9pm

14102121

In [187]:
sample.loc[3960619]['hour']#10pm

14102122

## now to randomly sample 15000 per each 7-8 8-9 9-10

In [188]:
sevento8pm = sample.loc[3639326:3759100]
sevento8pm.tail(1)

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
3759100,9.999952e+18,0,14102119,1005,0,85f751fd,c4e18dd6,50e219e0,1779deee,2347f47a,...,1,0,21763,320,50,2502,0,35,100083,221

In [189]:
eightto9pm = sample.loc[3759101:3871117]
eightto9pm.tail(1)

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
3871117,9.999881e+18,1,14102120,1005,0,85f751fd,c4e18dd6,50e219e0,7358e05e,b9528b13,...,1,0,1039,320,50,178,3,1327,100013,15

In [190]:
nineto10pm = sample.loc[3871118:3960618]
nineto10pm.tail(1)

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
3960618,9.999992e+18,0,14102121,1005,0,85f751fd,c4e18dd6,50e219e0,e2fcccd2,5c5a694b,...,1,0,4687,320,50,423,2,39,100148,32

In [191]:
sevento8pmY = sevento8pm['click']
sevento8pmY.head()

3639326    0
3639327    0
3639328    0
3639329    0
3639330    0
Name: click, dtype: int64

In [192]:
sevento8pm = sevento8pm.drop(columns=['click'])
sevento8pm.head(1)

,id,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
3639326,1.000008e+19,14102119,1005,1,d9750ee7,98572c79,f028772b,ecad2386,7801e8d9,07d7df22,...,1,0,17614,320,50,1993,2,1063,-1,33

In [193]:
X_train, X_test, y_train, y_test = train_test_split(sevento8pm,sevento8pmY,train_size=15000)
X_train.shape

(15000, 23)

In [194]:
eightto9pmY = eightto9pm['click']
eightto9pmY.head()

3759101    1
3759102    0
3759103    1
3759104    1
3759105    0
Name: click, dtype: int64

In [195]:
eightto9pm = eightto9pm.drop(columns=['click'])
eightto9pm.head(1)

,id,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
3759101,1.000004e+18,14102120,1005,0,5b08c53b,7687a86e,3e814130,ecad2386,7801e8d9,07d7df22,...,1,0,21277,300,250,2443,2,39,-1,23

In [196]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(eightto9pm,eightto9pmY,train_size=15000)
X_train1.shape

(15000, 23)

In [197]:
nineto10pmY = nineto10pm['click']
nineto10pmY.head()

3871118    0
3871119    0
3871120    0
3871121    0
3871122    0
Name: click, dtype: int64

In [198]:
nineto10pm = nineto10pm.drop(columns=['click'])
nineto10pm.head(1)

,id,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
3871118,1.000019e+19,14102121,1005,1,e4d8dd7b,a17bde68,3e814130,ecad2386,7801e8d9,07d7df22,...,1,0,16208,320,50,1800,3,167,-1,23

In [199]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(nineto10pm,nineto10pmY,train_size=15000)
X_train2.shape

(15000, 23)

In [200]:
X7to10pm = pd.concat([X_train,X_train1,X_train2]) 
X7to10pm.shape

(45000, 23)

In [201]:
y7to10pm = pd.concat([y_train,y_train1,y_train2]) 
y7to10pm.shape

(45000,)

# delete columns that are not labeled

In [202]:
X7to10pm.head()

,id,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
3659742,1.282888e+19,14102119,1005,0,85f751fd,c4e18dd6,50e219e0,7358e05e,b9528b13,cef3e649,...,1,0,1039,320,50,178,3,1327,100148,15
3757648,9.798885e+18,14102119,1005,0,85f751fd,c4e18dd6,50e219e0,de97da65,33da2e74,0f2161f8,...,1,0,16685,320,50,1092,3,1835,100156,61
3655729,1.225942e+19,14102119,1010,1,85f751fd,c4e18dd6,50e219e0,ffc6ffd0,7801e8d9,0f2161f8,...,4,0,21790,320,50,2513,3,35,-1,68
3756635,9.659719e+18,14102119,1005,0,85f751fd,c4e18dd6,50e219e0,54c5d545,2347f47a,0f2161f8,...,1,0,21746,320,50,2504,3,41,100160,111
3713594,3.685931e+18,14102119,1005,0,85f751fd,c4e18dd6,50e219e0,9f06e9a1,aefc06bd,0f2161f8,...,1,2,21706,320,50,2498,3,169,100111,61

In [203]:
X7to10pm = X7to10pm.drop(columns =['C21','C20','C19','C18','C17','C16','C15','C14','C1','id'])
X7to10pm.head()

,hour,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type
3659742,14102119,0,85f751fd,c4e18dd6,50e219e0,7358e05e,b9528b13,cef3e649,1ad8481a,5d2cec4a,be74e6fe,1,0
3757648,14102119,0,85f751fd,c4e18dd6,50e219e0,de97da65,33da2e74,0f2161f8,a99f214a,009a7861,f60c2fd3,1,0
3655729,14102119,1,85f751fd,c4e18dd6,50e219e0,ffc6ffd0,7801e8d9,0f2161f8,4d507334,25a2f58f,a0f5f879,4,0
3756635,14102119,0,85f751fd,c4e18dd6,50e219e0,54c5d545,2347f47a,0f2161f8,a99f214a,d20755d9,7abbbd5c,1,0
3713594,14102119,0,85f751fd,c4e18dd6,50e219e0,9f06e9a1,aefc06bd,0f2161f8,a99f214a,4e5c2cb5,dc31133e,1,2

In [232]:
from sklearn.ensemble import RandomForestClassifier

Try to make functions to turn it into pipeline 

try different ensembles

try svm

try nearest neighbors

Example 

if in the pre calculated training data i know the probability of clicks on a certain app id- meaning that in the test data I have an app id that i have seen before in the training data then I'll process the test data into that probability from the training data 

Repeat this until all values that I've seen have been taken from the training data and put into the test data 

then with the remaining features that didn't have a probability then I take the features that I do know 

I query the training sample for every row that has those features and then I use the average probability on the unknown never before seen columns and put those in for the test probability

In [205]:
X7to10pm.head(1)

,hour,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type
3659742,14102119,0,85f751fd,c4e18dd6,50e219e0,7358e05e,b9528b13,cef3e649,1ad8481a,5d2cec4a,be74e6fe,1,0

I will pass a list of values from querying the database before I calculated the probabilities.
then I will find the indexes in the probability table if they exist

In [206]:
#example on last value from 7to10pm
X7to10pm.iloc[-1].index[0]

'hour'

In [207]:
query = "hour == '14102121' & site_id =='85f751fd'"
X7to10pm.query("hour == '14102121' & banner_pos == 0 & site_id =='85f751fd' & site_domain == 'c4e18dd6' & device_model == '03683bd4'")

,hour,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type
3906683,14102121,0,85f751fd,c4e18dd6,50e219e0,95b5e741,c6824def,cef3e649,a99f214a,93180936,03683bd4,1,0
3888931,14102121,0,85f751fd,c4e18dd6,50e219e0,de97da65,33da2e74,0f2161f8,a99f214a,d90a7774,03683bd4,1,0
3878616,14102121,0,85f751fd,c4e18dd6,50e219e0,de97da65,33da2e74,0f2161f8,a99f214a,930ec31d,03683bd4,1,0
3891964,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,af62faf4,03683bd4,1,0
3943785,14102121,0,85f751fd,c4e18dd6,50e219e0,de97da65,33da2e74,0f2161f8,a99f214a,d90a7774,03683bd4,1,0
3902784,14102121,0,85f751fd,c4e18dd6,50e219e0,de97da65,33da2e74,0f2161f8,a99f214a,930ec31d,03683bd4,1,0
3879441,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,9b13a699,03683bd4,1,0
3936114,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,af62faf4,03683bd4,1,0
3930800,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,93180936,03683bd4,1,0
3877752,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,a0fed552,03683bd4,1,0
3936891,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,93180936,03683bd4,1,0
3889255,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,2f323f36,03683bd4,1,0
3929930,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,c41fe74f,03683bd4,1,0
3918348,14102121,0,85f751fd,c4e18dd6,50e219e0,de97da65,33da2e74,0f2161f8,a99f214a,f46f0a98,03683bd4,1,0
3892651,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,af62faf4,03683bd4,1,0
3879817,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,f46f0a98,03683bd4,1,0
3954904,14102121,0,85f751fd,c4e18dd6,50e219e0,de97da65,33da2e74,0f2161f8,a99f214a,c41fe74f,03683bd4,1,0
3926883,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,285aa37d,03683bd4,1,0
3882575,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,c48d071e,03683bd4,1,0
3875267,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,2bb4af67,03683bd4,1,0
3876651,14102121,0,85f751fd,c4e18dd6,50e219e0,de97da65,33da2e74,0f2161f8,a99f214a,009a7861,03683bd4,1,0
3889688,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,5ed3446c,03683bd4,1,0
3890058,14102121,0,85f751fd,c4e18dd6,50e219e0,de97da65,33da2e74,0f2161f8,a99f214a,930ec31d,03683bd4,1,0
3953804,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,2ed3dc78,03683bd4,1,0
3894281,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,2bb4af67,03683bd4,1,0
3919656,14102121,0,85f751fd,c4e18dd6,50e219e0,de97da65,33da2e74,0f2161f8,a99f214a,e0030fa7,03683bd4,1,0
3877161,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,bd7006aa,03683bd4,1,0
3910371,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,f46f0a98,03683bd4,1,0
3905856,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,91f4b34f,03683bd4,1,0
3933362,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,52e933ed,03683bd4,1,0
3920276,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,af9205f9,03683bd4,1,0
3908067,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,fadf993c,03683bd4,1,0
3894337,14102121,0,85f751fd,c4e18dd6,50e219e0,de97da65,33da2e74,0f2161f8,a99f214a,d90a7774,03683bd4,1,0
3936319,14102121,0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,117c5779,03683bd4,1,0

I have to build  a function to automatically make a string query for doing queries from the row data. 

I should pick the best columns to look for 
my intuition says appid siteid appcategory sitecategory bannerpos

these will have the most data probably

In [208]:
def stringquery(ilocdata):
    string = ""
    #get the columns that i want
    cols = ['banner_pos','hour','site_id','site_domain','site_category','app_id','app_domain','app_category']
    for t,i in enumerate(cols):
        if t == (len(cols)-1):
            string+= ' {}==\'{}\''.format(i,ilocdata[i])
        else:
            string+= ' {}==\'{}\' &'.format(i,ilocdata[i])
    return string
stringquery(X7to10pm.iloc[-1])

" banner_pos=='0' & hour=='14102121' & site_id=='1fbe01fe' & site_domain=='f3845767' & site_category=='28905ebd' & app_id=='ecad2386' & app_domain=='7801e8d9' & app_category=='07d7df22'"

In [209]:
slices = X7to10pm.query(stringquery(X7to10pm.iloc[-1]))
listofindexes = slices.index[:5]

In [210]:
#it worked but its not perfect

In [211]:
X7to10pm.head()

,hour,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type
3659742,14102119,0,85f751fd,c4e18dd6,50e219e0,7358e05e,b9528b13,cef3e649,1ad8481a,5d2cec4a,be74e6fe,1,0
3757648,14102119,0,85f751fd,c4e18dd6,50e219e0,de97da65,33da2e74,0f2161f8,a99f214a,009a7861,f60c2fd3,1,0
3655729,14102119,1,85f751fd,c4e18dd6,50e219e0,ffc6ffd0,7801e8d9,0f2161f8,4d507334,25a2f58f,a0f5f879,4,0
3756635,14102119,0,85f751fd,c4e18dd6,50e219e0,54c5d545,2347f47a,0f2161f8,a99f214a,d20755d9,7abbbd5c,1,0
3713594,14102119,0,85f751fd,c4e18dd6,50e219e0,9f06e9a1,aefc06bd,0f2161f8,a99f214a,4e5c2cb5,dc31133e,1,2

In [212]:
y7to10pm.head()

3659742    0
3757648    0
3655729    0
3756635    0
3713594    0
Name: click, dtype: int64

In [222]:
#all in one step 
#split the original data again but this time only
# do probabilities on the training data
X_train, X_test, y_train, y_test = train_test_split(X7to10pm,y7to10pm,test_size=.2,random_state=40)

In [38]:
tempmerge = pd.concat([X_train,y_train],axis=1)
tempmerge.head(1)

,hour,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type,click
3806450,14102120,0,d9750ee7,98572c79,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,8a3070f5,c6263d8a,1,0,0

In [39]:
for i in ['hour','banner_pos','device_type','device_conn_type','site_id','site_domain','site_category','app_id','app_domain','app_category','device_id','device_ip','device_model']:#all the columns
    for j in tempmerge[i].unique() :#all the unique features in a column
        tempmerge.loc[tempmerge[i] == j,i] = tempmerge[tempmerge[i] == j]['click'].sum()/ tempmerge[tempmerge[i] == j]['click'].count()

In [40]:
tempmerge.head(1)

,hour,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type,click
3806450,0.157711,0.158005,0.263793,0.261017,0.205501,0.191413,0.185937,0.195367,0.153494,0,0.258621,0.160639,0.166959,0

In [41]:
tempmerge.to_csv('trainingdataprobability.csv')

In [233]:
tempmerge = pd.read_csv('trainingdataprobability.csv')
tempmerge.index = tempmerge['Unnamed: 0']
tempmerge = tempmerge.drop(columns='Unnamed: 0')
tempmerge.head()

,hour,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type,click
Unnamed: 0,,,,,,,,,,,,,,
3806450,0.157711,0.158005,0.263793,0.261017,0.205501,0.191413,0.185937,0.195367,0.153494,0.0,0.258621,0.160639,0.166959,0
3938434,0.169756,0.158005,0.136364,0.136364,0.205501,0.191413,0.185937,0.195367,0.153494,0.0,0.166262,0.160639,0.166959,0
3681584,0.163899,0.158005,0.123821,0.123821,0.143920,0.191413,0.185937,0.195367,0.153494,0.0,0.154783,0.160639,0.166959,0
3718775,0.163899,0.158005,0.139930,0.145165,0.146846,0.120000,0.141163,0.130439,0.153494,0.0,0.107914,0.160639,0.166959,0
3901107,0.169756,0.158005,0.139930,0.145165,0.146846,0.133333,0.024832,0.129941,0.153494,0.0,0.166262,0.160639,0.166959,0

So I have the probabilities only calculaated on the training data not the test set 

look for each row in the test data in the training data and copy the probabilities

In [215]:
#tempmerge is the training data probabilities
#X7to10pm and y7to10pm are the actual data points
#these each have the same row indexes 

#for i in range(len(X_test)-1):
slices = X7to10pm.query(stringquery(X_test.iloc[0]))
listofindexes = slices.index
#listofindexes

In [216]:
tempmerge.loc[listofindexes]

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

,hour,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type,click
3897108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3943543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3892296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3942049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3936683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3895187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3929461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3882443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3895808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3898574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3921515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3920299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3892453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3938122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3937748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3885183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3929554,0.169756,0.158005,0.123821,0.123821,0.14392,0.191413,0.185937,0.195367,0.153494,0.0,0.112774,0.160639,0.166959,0.0
3890471,0.169756,0.158005,0.123821,0.123821,0.14392,0.191413,0.185937,0.195367,0.153494,0.0,0.209677,0.160639,0.166959,0.0
3889715,0.169756,0.158005,0.123821,0.123821,0.14392,0.191413,0.185937,0.195367,0.153494,0.0,0.000000,0.160639,0.166959,0.0
3888429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3945823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3945758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3878242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3915524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3898099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3894470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3941433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3881406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3890804,0.169756,0.158005,0.123821,0.123821,0.14392,0.191413,0.185937,0.195367,0.153494,0.0,0.166262,0.160639,0.166959,0.0
3871159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3933119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3900947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3881005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3883697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3910336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3917952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3934908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3945242,0.169756,0.158005,0.123821,0.123821,0.14392,0.191413,0.185937,0.195367,0.153494,0.1,0.121739,0.160639,0.136383,0.0
3945019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3922614,0.169756,0.158005,0.123821,0.123821,0.14392,0.191413,0.185937,0.195367,0.153494,0.0,0.155914,0.160639,0.166959,0.0
3945363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3911066,0.169756,0.158005,0.123821,0.123821,0.14392,0.191413,0.185937,0.195367,0.153494,0.0,0.155914,0.160639,0.166959,0.0
3951543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3872372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3914806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3872123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3918515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3888030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3909536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3939473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3908272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3940006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3958496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3956284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3872291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3884008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3954356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3945679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3910361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3951318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [217]:
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(15)]
tf

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

False

In [218]:
X7to10pm.head(1)

,hour,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type
3659742,14102119,0,85f751fd,c4e18dd6,50e219e0,7358e05e,b9528b13,cef3e649,1ad8481a,5d2cec4a,be74e6fe,1,0

In [219]:
indexes = tempmerge.index
testset = X7to10pm.loc[indexes]
testset.head(1)#this should print the raw data row corresponding to the test split rows
#X7to10pm.head()

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

,hour,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type
Unnamed: 0,,,,,,,,,,,,,
3806450,14102120.0,0.0,d9750ee7,98572c79,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,8a3070f5,c6263d8a,1.0,0.0

In [220]:
X_test.iloc[0] = tf
X_test.iloc[0]

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

hour                False
banner_pos          False
site_id             False
site_domain         False
site_category       False
app_id              False
app_domain          False
app_category        False
device_id           False
device_ip           False
device_model        False
device_type         False
device_conn_type    False
Name: 3926885, dtype: object

In [175]:
for i in range(len(X_test)-1):
    slices = X7to10pm.query(stringquery(X_test.iloc[i]))
    listofindexes = slices.index
    tfm = tempmerge.loc[listofindexes].mean()
    tf = tfm.isna().tolist() == [True for x in range(14)]
    try :
        tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
    except:
        None
    if tf or tp == True: #if all values are NaN or 0
        X_test.iloc[i] = tempmerge.mean()#input mean values into the test set
    else:
        X_test.iloc[i] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:4: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  after removing the cwd from sys.path.
C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [167]:
slices = X7to10pm.query(stringquery(X_test.iloc[0]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[0] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[0] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [172]:
slices = X7to10pm.query(stringquery(X_test.iloc[0]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tfm
tf = tfm.isna().tolist() == [True for x in range(14)]
tf

True

In [223]:
X_test.head(5)

,hour,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type
3926885,14102121,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,7ab152a5,edead9f4,1,0
3670271,14102119,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,7eeac961,ecb851b2,1,0
3726282,14102119,1,e151e245,7e091613,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,a6f8fbf9,96a7c171,1,0
3677517,14102119,0,85f751fd,c4e18dd6,50e219e0,7358e05e,b9528b13,cef3e649,4842db82,31f8e95a,be6db1d7,1,0
3703563,14102119,0,85f751fd,c4e18dd6,50e219e0,7358e05e,b9528b13,cef3e649,6c742d63,5b0a38f1,7abbbd5c,1,0

In [256]:
counter = 0
indexes = []
for i in range(500):
    if y_test.iloc[i] == 1:
        indexes.append(i)
        counter += 1
    if counter == 15:
        break
indexes

[1, 2, 8, 12, 15, 20, 22, 27, 31, 47, 60, 62, 67, 78, 79]

In [226]:
X_test.iloc[indexes]

,hour,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type
3670271,14102119,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,7eeac961,ecb851b2,1,0
3726282,14102119,1,e151e245,7e091613,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,a6f8fbf9,96a7c171,1,0
3826010,14102120,1,e151e245,7e091613,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,41325aa7,7abbbd5c,1,0
3648516,14102119,1,85f751fd,c4e18dd6,50e219e0,ffc6ffd0,7801e8d9,0f2161f8,ae12210c,b2088323,7abbbd5c,4,0
3873826,14102121,0,ceea3181,6225315b,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,bf25f7be,3bd9e8e7,1,0
3766198,14102120,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,1a7507d3,8a4875bd,1,0
3936064,14102121,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,8d4a5aa9,8a4875bd,1,0
3782546,14102120,0,85f751fd,c4e18dd6,50e219e0,e9739828,df32afa9,cef3e649,a99f214a,b3668889,7abbbd5c,1,0
3921618,14102121,0,85f751fd,c4e18dd6,50e219e0,7358e05e,b9528b13,cef3e649,edcfb52b,18dc5284,158e4944,1,0
3679798,14102119,1,e151e245,7e091613,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,9094288b,158e4944,1,0
3822949,14102120,1,e151e245,7e091613,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,98caaa33,e9b8d8d7,1,0
3685075,14102119,1,e151e245,7e091613,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,b8eb3929,84ebbcd4,1,0
3949537,14102121,0,7480e371,c4e18dd6,50e219e0,ecad2386,7801e8d9,07d7df22,0aaa44f7,dcc16f8b,911a3c09,0,0
3908529,14102121,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,13f3426f,158e4944,1,0
3772974,14102120,0,85f751fd,c4e18dd6,50e219e0,7358e05e,b9528b13,cef3e649,41ee70f5,b8352118,fa61e8fe,1,0

In [257]:
counter = 0
indexesblank = []
for i in range(500):
    if y_test.iloc[i] == 0:
        indexesblank.append(i)
        counter += 1
    if counter == 15:
        break
indexesblank

[0, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 16, 17, 18, 19]

In [258]:
indexesTest = pd.concat([pd.DataFrame(indexes),pd.DataFrame(indexesblank)])
indexesTest = indexesTest.sort_values(by=[0],ascending=True)
indexesTest

     0
0    0
0    1
1    2
1    3
2    4
3    5
4    6
5    7
2    8
6    9
7   10
8   11
3   12
9   13
10  14
4   15
11  16
12  17
13  18
14  19
5   20
6   22
7   27
8   31
9   47
10  60
11  62
12  67
13  78
14  79

In [263]:
x = [indexes+indexesblank]
set(x)

TypeError: unhashable type: 'list'

In [ ]:
#fit random forest to the training probability
#then manually calculate the test set
#then run the random forest on the test set
#then test to see how accurate it is

In [235]:
rand =RandomForestClassifier(n_estimators = 75,max_depth=15,random_state=10)

In [239]:
X = tempmerge.drop(columns='click')
X = X.iloc[indexesTest[0]]

In [240]:
y = tempmerge['click']
y =y.iloc[indexesTest[0]]

In [242]:
rand.fit(tempmerge.drop(columns='click'),tempmerge['click'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=15, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=75,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [244]:
rand.predict()

array([0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0], dtype=int64)

In [264]:
slices = X7to10pm.query(stringquery(X_test.iloc[0]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[0] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[0] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [265]:
slices = X7to10pm.query(stringquery(X_test.iloc[1]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[1] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[1] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [266]:
slices = X7to10pm.query(stringquery(X_test.iloc[2]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[2] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[2] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [267]:
slices = X7to10pm.query(stringquery(X_test.iloc[4]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[4] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[4] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [268]:
slices = X7to10pm.query(stringquery(X_test.iloc[5]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[5] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[5] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [269]:
slices = X7to10pm.query(stringquery(X_test.iloc[6]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[6] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[6] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [270]:
slices = X7to10pm.query(stringquery(X_test.iloc[7]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[7] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[7] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [271]:
slices = X7to10pm.query(stringquery(X_test.iloc[8]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[8] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[8] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [272]:
slices = X7to10pm.query(stringquery(X_test.iloc[9]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[9] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[9] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [273]:
slices = X7to10pm.query(stringquery(X_test.iloc[10]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[10] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[10] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [274]:
slices = X7to10pm.query(stringquery(X_test.iloc[12]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[12] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[12] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [275]:
slices = X7to10pm.query(stringquery(X_test.iloc[13]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[13] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[13] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [276]:
slices = X7to10pm.query(stringquery(X_test.iloc[14]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[14] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[14] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [277]:
slices = X7to10pm.query(stringquery(X_test.iloc[15]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[15] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[15] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [278]:
slices = X7to10pm.query(stringquery(X_test.iloc[16]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[16] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[16] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [279]:
slices = X7to10pm.query(stringquery(X_test.iloc[17]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[17] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[17] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [280]:
slices = X7to10pm.query(stringquery(X_test.iloc[18]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[18] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[18] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [281]:
slices = X7to10pm.query(stringquery(X_test.iloc[19]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[19] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[19] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [282]:
slices = X7to10pm.query(stringquery(X_test.iloc[20]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[20] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[20] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [283]:
slices = X7to10pm.query(stringquery(X_test.iloc[22]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[22] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[22] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [284]:
slices = X7to10pm.query(stringquery(X_test.iloc[27]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[27] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[27] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [285]:
slices = X7to10pm.query(stringquery(X_test.iloc[31]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[31] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[31] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [286]:
slices = X7to10pm.query(stringquery(X_test.iloc[47]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[47] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[47] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [287]:
slices = X7to10pm.query(stringquery(X_test.iloc[60]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[60] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[60] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [288]:
slices = X7to10pm.query(stringquery(X_test.iloc[62]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[62] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[62] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [289]:
slices = X7to10pm.query(stringquery(X_test.iloc[67]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[67] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[67] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [290]:
slices = X7to10pm.query(stringquery(X_test.iloc[78]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[78] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[78] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [291]:
slices = X7to10pm.query(stringquery(X_test.iloc[79]))
listofindexes = slices.index
tfm = tempmerge.loc[listofindexes].mean()
tf = tfm.isna().tolist() == [True for x in range(14)]
try :
    tp = list(tfm) ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
except:
    None
if tf or tp == True: #if all values are NaN or 0
    X_test.iloc[79] = tempmerge.mean()#input mean values into the test set
else:
    X_test.iloc[79] = tfm#set average of matched query

C:\Users\Michael\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [293]:
X_test.iloc[indexesTest[0]]

,hour,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type
3926885,1.697562e-01,0.158005,0.123821,0.123821,0.14392,0.191413,0.185937,0.195367,0.153494,0.132401,0.150577,0.160639,0.165779
3670271,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3726282,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3677517,1.410212e+07,0.000000,85f751fd,c4e18dd6,50e219e0,7358e05e,b9528b13,cef3e649,4842db82,31f8e95a,be6db1d7,1.000000,0.000000
3703563,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3814769,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3690174,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3645961,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3826010,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3775386,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3854187,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3905129,1.410212e+07,0.000000,5b08c53b,7687a86e,3e814130,ecad2386,7801e8d9,07d7df22,a99f214a,0af45293,3e72ab6c,1.000000,0.000000
3648516,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3774568,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3730247,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3873826,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3891735,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3830842,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3907164,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3935807,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3766198,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3936064,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3782546,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3921618,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3679798,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3822949,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3685075,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3949537,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3908529,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778
3772974,1.637778e-01,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778,0.163778

In [294]:
rand.predict(X_test.iloc[indexesTest[0]])

ValueError: could not convert string to float: '85f751fd'

In [170]:
test = pd.concat([X_test,y_train],axis=1)

In [171]:
test.head(2)

,hour,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type,click
3639328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3639372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3639385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3639408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3639415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3639444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3639473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3639498,14102119.0,0.0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,298fbc93,1f0bc64f,1.0,0.0,NaN
3639505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639507,14102119.0,0.0,d6137915,bb1ef334,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,88b9bda5,8a4875bd,1.0,0.0,NaN
3639508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3639529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639545,14102119.0,1.0,85f751fd,c4e18dd6,50e219e0,c7f29df3,7801e8d9,0f2161f8,4e8474ee,2d782e58,fdfa8fcd,4.0,0.0,NaN
3639555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3639567,14102119.0,1.0,5b904c3a,e3bf79b4,3e814130,ecad2386,7801e8d9,07d7df22,a99f214a,ff7a2205,a0f5f879,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3960451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3960474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960501,14102121.0,0.0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,b2eb62dc,8a4875bd,1.0,0.0,NaN
3960505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960517,14102121.0,0.0,85f751fd,c4e18dd6,50e219e0,fb7c70a3,d9b5648e,0f2161f8,100e6b71,7e5b53ce,b4b19c97,1.0,0.0,NaN
3960522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3960531,14102121.0,0.0,85f751fd,c4e18dd6,50e219e0,3f2a6cbb,33da2e74,cef3e649,a99f214a,4a86a507,3bb1ddd7,1.0,0.0,NaN
3960535,14102121.0,1.0,856e6d3f,58a89a43,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,dcf2bc76,1f0bc64f,1.0,0.0,NaN
3960537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960556,14102121.0,0.0,85f751fd,c4e18dd6,50e219e0,9c13b419,2347f47a,f95efa07,a99f214a,667a1210,1f0bc64f,1.0,0.0,NaN
3960565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960573,14102121.0,0.0,85f751fd,c4e18dd6,50e219e0,54c5d545,2347f47a,0f2161f8,d73ee56b,e5639425,be74e6fe,1.0,0.0,NaN
3960576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960581,14102121.0,0.0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,97114231,8a4875bd,1.0,0.0,NaN
3960594,14102121.0,1.0,d9750ee7,98572c79,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,57cd4006,8a4875bd,1.0,0.0,NaN
3960604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3960611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [163]:
test.to_csv('testset.csv')

In [164]:
test = pd.read_csv('testset.csv')

In [177]:
test.head()

NameError: name 'test' is not defined

In [166]:
test.index = test['Unnamed: 0']

In [ ]:
X_test = test.drop(columns='')

In [ ]:
for i in range(2):
    slices = X7to10pm.query(stringquery(X_test.iloc[i]))
    listofindexes = slices.index
    tfm = tempmerge.loc[listofindexes].mean()
    tf = tfm.isna().tolist() == [True for x in range(15)]
    print(tfm)
    try :
        tp = tfm.mean().tolist() ==  [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
    except:
        tfmm = tfm
        if tf or tp == True: #if all values are NaN or 0
            X_test.iloc[i] = tempmerge.mean()#input mean values into the test set
        else:
            X_test.iloc[i] = tfmm#set average of matched query

tempmerge.info()

I should run a random forest classifier
check the accuracy of the model
tune the model parameters

i could try to run other classifiers like svm, k nearest neighbors, adaboost tree , xgradientboost tree, clustering

make my code cleaner- delete some random print statements 
make code comments 
put some markdown cells 

make some visualizations 
show which models clicked the most
show which apps clicked the most
show which site category was the best 

do my blog 

make a presentation 
show the business case - guessing in the future which apps, sites, and ads will get clicks and which wont 
show some visualizations 
show my accuracy numbers 
future work - doing more models and parameter tuning , check on more data, work with the time difference, work with anon columns
reccomendations - I would pick the banner positions that did the best,with the best apps, and i would test different apps to make sure that the specific ads are certainly received better on some apps than other apps